.hb {
    position: relative;
    height: 80px;
    background-color: white;
    border-bottom: 2px solid grey;

}

.head {
    position: absolute;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 216px;
    height: 80px;
}

.head-right {
    margin: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 216px;
    display: inline-block;
}

.bb {
    background: white;
    width: 960px;
    position: relative;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    height: 100;

}

p {

    color: #777777;
}

a:link,
a:visited {
    background-color: white;
    color: #777777;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #4aaaa5;
}

.am {
    color: #777777;
}

.clearfix {
    overflow: auto;
}

.img {
    float: left;
    overflow: auto;
}